@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* ------------ progress bar */
.CircularProgressbar {
    width: 70%;

}

.slick-list{
    height: 550px !important;
}


.slick-slide{
    width: 527px !important;
}

/* -------------- slider */
.slick-arrow {
 width: 44px;
 height: 44px;
 padding: 8px;
 color: black;
border: 1px solid #00413d29; 

}

.slick-arrow:hover{
    background: #E5745D;
    color: white;
}


.slick-prev {
    font-size: 10px;
    position: absolute;
    left: 1200px;
    top: -77px;
    z-index: 9999;
}

.slick-next {
    z-index: 999;
    top: -75px;
    position: absolute;
    right: 186px;
}


.slick-dots {
    bottom: -56px !important;
}